extends layout
var imglink = #{result.imglink}
var wikilink = #{result.wikilink}
block content
   .site-wrapper
      .site-wrapper-inner
        .cover-container
          .inner.cover
            .row
              .col-xs-6
                .panel.panel-default
                  .panel-heading Philosopher
                  .panel-body
                    ul.list-group
                      li.list-group-item #{result.philosopher}
                      li.list-group-item 
                        img.photo(src=imglink)
                      li.list-group-item #{result.wikilink}
                      li.list-group-item #{result.quote}
                      li.list-group-item #{result.focus}                                            
                      li.list-group-item #{result.book}                     
              .col-xs-6
                .panel.panel-default
                  .panel-heading Information
                  .panel-body
                    ul.list-group
                      li.list-group-item #{result.finalexpression}
                      li.list-group-item #{result.desc}
                                         



append footer
