extends layout
var imglink = #{result.imglink}
var wikilink = #{result.wikilink}
block content
   .site-wrapper
      .site-wrapper-inner
        .cover-container
          .col-lg-12
            .row
              table.table.table-hover.table-bordered
                thead
                  tr
                    th Philosopher
                    th Information
                tbody
                  tr
                    td #{result.philosopher}
                    td #{result.finalexpression}
                  tr
                    td
                      img.photo(src='#{result.imglink}')
                    td #{result.desc}
                  tr
                    td #{result.quote}
                    td #{result.wikilink}
                  tr
                    td #{result.focus}
                    td #{result.book}

append footer
